<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/normalize.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold">
    <link rel="icon" href="{{ url_for('static',filename='img/icon.png') }}">
    <meta charset="utf-8">
    <title>Профиль | epsio</title>
  </head>

  <body>
    <header> <img src={{ url_for('static',filename='img/icon.png') }} alt="logo" class="logo" width="40" height="40">
      <nav>
        <ul class="nav_links">
          <li><a href="/home">Главная</a></li>
          <li><a href="/chat">Мессенджер</a></li>
          <li><a href="/profile">Профиль</a></li>
        </ul>
      </nav>
    </header>
    <div class="big_container">
      <h1>У нас сломался чат, поэтому мы лишь можем дать вам контактные данные :( </h1>
      {% for x in dogs %}
        <div class="dog_container">
          <img src={{ x[0] }} alt="doge" class="dog_thm">
          <div class="small_container">
            <h1 style="font-size: 40pt;">Ого, да у вас взаимная симпатия!</h1>
            <h1 class="dog_name">{{ x[1] }}</h1>
            <h3 class="additional">{{ x[2] }}</h3>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>

</html>

