<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/normalize.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold">
    <link rel="icon" href="{{ url_for('static',filename='img/icon.png') }}">
    <meta charset="utf-8">
    <meta name="google-site-verification" content="ebudg75hfvFRqpqxT5jJlgiz4mol0n5KRLH5qWBAGS8" />
    <title>Главная | epsio</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
          $('#like').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/like',
                function(data) {
              //do nothing
            });
	    location.reload();
            return false;
          });
        });
    </script>
    <script type=text/javascript>
        $(function() {
          $('#dislike').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/dislike',
                function(data) {
              //do nothing
            });
	    location.reload();
            return false;
          });
        });
    </script>
  </head>

  <body>
    <header> <img src={{ url_for('static',filename='img/icon.png') }} alt="logo" class="logo" width="40" height="40">
      <nav>
        <ul class="nav_links">
          <li><a href="/home">Главная</a></li>
          <li><a href="/chat">Мессенджер</a></li>
          <li><a href="/profile">Профиль</a></li>
        </ul>
      </nav>
    </header>
    <center>
      <div class="meet">
        <img src="{{ pic }}" alt="doge">
        <h1 class="title">{{ title }}</h1>
        <h2 class="title"> {{ bio }}</h2>
        <div class="btn" id="btn">
	  <button id="like" class='like'></button>
          <button id="dislike" class='like'></button>
        </div>
      </div>
    </center>
  <h1>{{ log }}</h1>
  </body>

</html>

