<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/normalize.css') }}" type="text/css">
    <link rel="icon" href="{{ url_for('static',filename='img/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="styles/style.css") }}">
    <title>Войдите в аккаунт</title>
</head>
<body>
<center>
    <div>
        <table>
            <tr>
              <th>
                <h1>
                Приветствуем Вас на epsio!
                </h1>
              </th>
            </tr>
            <tr>
              <th>
                <h2>
                Epsio - сервис для знакомства собачек
                </h2>
                </th>
            </tr>
            <tr>
              <th>
                <h3>
                  {{ warn }}
                </h3>
              </th>
            </tr>
            <form method="post" name="login">
              <tr>
                <th>
                  <input class="input" type="text" name="login" placeholder="Имя пользователя:">
                </th>
              </tr>
              <tr>
                <th>
                  <input class="input" type="password" name="password" placeholder="Пароль:">
                </th>
              </tr>
              <tr>
                <th>
                <button type="submit">Войти</button>
                </th>
              </tr>
              <tr>
                <th>
		  <a href="http://epsio.ru/register">
  		     <input type="button" value="Регистрация" />
		  </a>
                </th>
             </tr>
            </form>
        </table>
    </div>
</center>
</body>
</html>

