* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: ubuntu;
}

body {
  background-color: #000
}

input:not(.like):not(.add) {
  width: 175%;
  height: 4vw;
  background-color: #bb86fc;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 1.25vw;
  color: #fff;
  border: 2px solid white;
}

::placeholder {
  color: #fff;
}

select {
  width: 175%;
  height: 4vw;
  background-color: #bb86fc;
  /*   padding: 12px 20px; */
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 1.25vw;
  font-family: ubuntu;
  color: #fff;
  border: 2px solid white;
}

select:focus {
  outline-width: 0;
}

.btn {
  display: flex;
  flex-direction: row;
}

button:not(.like) {
  border-radius: 50px;
  background-color: #bb86fc;
  width: 175%;
  height: 4vw;
  font-size: 1.25vw;
  font-family: ubuntu;
  color: #fff;
  border: 2px solid white;
}


input:focus {
  outline-width: 0;
}

#like {
  background-image: url('http://epsio.ru/static/img/like.png');
  background-size: cover;
  cursor: pointer;
  border: 0px;
  height: 50px;
  width: 50px;
}

#dislike {
  background-image: url('http://epsio.ru/static/img/dislike.png');
  background-size: cover;
  cursor: pointer;
  border: 0px;
  height: 50px;
  width: 50px;
}

.meet {
  width: 450px;
  padding: 50px;
  margin: 20px;
  top: 50%;
  left: 45%;
  border-radius: 5px;
  background-color: #2e2e2e;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li,
a,
button {
  font-family: ubuntu;
  font-size: 16px;
  color: #ebebeb;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  background-color: #181818;
}


.oops {
  margin: 0;
  position: absolute;
  width: 35%;
  height: 60%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.add {
  border-radius: 5px;
  background-color: #bb86fc;
  width: 50%;
  border: 2px solid white;
  border-radius: 50px;
  height: 5vw;
  font-size: 2vw;
  font-family: ubuntu;
  color: #fff;
}

.big_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 80px;
  width: 100%;
  height: 70vh;
  flex-grow: 1;
}

.dog_container {
  text-align: center;
  background-color: #181818;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
}

.dog_thm{
  max-width: 200px;
  max-height: 200px;
}

.additional {
  color: white;
}
.dog_name {
  color: #fff;
  font-size: 30pt;
}

h1:not(.dog_name) {
  text-align: center;
  color: #fff
}

label {
  color: #fff
}

h1 {
  font-size: 4.5vw;
}

.title {
  text-align: center;
  color: #ebebeb;
}

.container {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 42.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.added {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #bb86fc;
}


